.main_login{
    background-color: #2E2E3C;
    min-height: 80vh;
    border-radius: 12px;
}
.login_atm{
    min-height: 70vh;
    width: 110vh;
    background-color: #22222C;
    margin: auto;
    border-radius: 12px;
}
.login_atm-greeting{
    min-height: 30vh;
    width: 80vh;
    background-color: #2E2E3C;
    margin: 6% auto;
    text-align: center;
    color: rgb(177, 177, 177);
    border-radius: 12px;
}
.login_atm-greeting h1{
    font-size: 10vh;
    margin: 4% auto;
}
.player_name{
    font-size: 6vh;
}
.login_atm-pin{
    min-height: 10vh;
    width: 90vh;
    margin: 4% auto;
    font-size: 5vh;
    text-align: center;
    background-color: rgba(127, 255, 212, 0);
}
.login_input-pin{
    min-height: 10vh;
    width: 60vh;
    margin: 0% auto;
}
#pin, #pin_1, #pin_2, #pin_3{
    min-height: 8vh;
    width: 8vh;
    background-color: #565670;
    margin: 2% auto;
}
.login_input-enter{
    min-height: 10vh;
    width: 25vh;
    background-color: #7e006d00;
    margin: 2vh auto;
    transition: opacity 1s;
}
.input_enter{
    min-height: 8vh;
    width: 20vh;
    margin: 4% auto;
    border-radius: 12px;
    background-color: #565670;
}
#enter_img{
    font-size: 4vh;
    color: black;
}
.input_enter:hover, .input_enter:hover #enter_img{
    background-color: #8d8db6;
    color: white;
}