nav {
    height: 6vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    background-color: #575757;
}
.nav__title {
    font-size: 2.5vh;
    color: #fcfcfc;
    margin: 0 12px;
    font-weight: bold
}
.nav__link--anchor {
    margin: 0 8px;
    color: #ffffff;
    font-weight: 400;
    font-size: 26px;
}
.nav__link--anchor:hover{
    opacity: 0.7;
    color: black;
}